nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.header__main__nav{
    justify-content: space-between; 
}

.header__small__nav{
    justify-content: center;
    gap: 1rem;
}